<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace:命名空间  -->
<mapper namespace="com.web.dao.MenuDao">

   <!-- 登录查询 -->
  <select id="findByParentId" resultType="TMenu" parameterType="Integer">
      select * from t_menu  where
     <if test="_parameter  == null">
         parentId is null
     </if>
     <if test="_parameter != null">
         parentId=#{parentId}
     </if>
  </select>   
   

</mapper>

